<div class="container mt-5 mb-5">
    <div class="row align-items-center fondo rounded p-3 mb-5">
        <app-header></app-header>
        <div class="col-sm-12 col-md-6 text-white formulario rounded-3 text-center">
            <p class="fs-2">¡Pago realizado con éxito!</p>
            <p>Esta plataforma de pagos fue desarrollada para la Prof. Paula Robles del Profesorado Francisco de Paula Robles, ubicado en la ciudad de Dolores, Buenos Aires.</p>
            <button class="btn btn-danger" (click)="volver()">Volver al Inicio</button>
            <app-footer></app-footer>
        </div>
        
        <div class="col-sm-12 col-md-6 text-center">
            <img src="../assets/online-payment-icon.png" class="img img-fluid" alt="">
        </div>
    </div>
</div>